#img{
    background-image: url(../img/bosque.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    filter: blur(0px);
  
    
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

#letra {
    color: #ffffff;
    font-weight: 500;
    animation: bounce 2s infinite; 
    
    
}

.img-pequena {
    max-height: 300px;
    width: auto;
    margin-left: 20px;
    
}

.imgborder{
    max-height: 300px;
    width: auto;
   
    border: 4px solid #000;

}

.imgsinborder{
    max-height: 300px;
    width: auto;

}
